<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Syslog"/>
  </extensions>
  <targets>
    <target xsi:type="Syslog" name="Syslog" syslogserver="logs.papertrailapp.com" port="21513" facility="local7"/>
  </targets>
  <rules>
    <logger name="*" writeTo="Syslog" />
  </rules>
</nlog>